@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: edition;
    src: url(./style/fonts/EDITION_.TTF);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff00;
    z-index: 1000;
    position: fixed;
    width: 100%;
    color: rgba(0, 0, 0, 0.644);
}

.navbar .left {
    padding-left: 2em;
}

.navbar .left .brand {
    font-family: edition;
    font-size: 7em;
}

.navbar .left span:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.301);
}

.navbar .left .menu {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;

}

.navbar .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar .right .content {
    display: flex;
    gap: 10px;
    padding: 2em;
}

.navbar .right .content .cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .right .content .cart:hover {
    cursor: pointer;
}

.navbar .right .content .cart img {
    height: 15px;
}

.navbar .right .content .search-container {
    font-family: 'Oswald', sans-serif;
}

.navbar .right .content .form {
    height: 30px;
    padding: 5px;
    border: none;
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff00;
}

.navbar .right .content .form:focus {
    outline: none;
    border-bottom: 1px solid #000000be;
    transition: 0.5s;
}

.navbar .right .content .searchbutton:hover {
    cursor: pointer;
}

.navbar .right .content .searchbutton,
.cart {
    padding: 0.5em;
}

.main {
    height: 110vh;
    min-width: 1200px;
}

.bg1 {
    background-image: url("./img/background/bg1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url("./img/background/bg2.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url("./img/background/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4 {
    background-image: url("./img/background/bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg5 {
    background-image: url("./img/background/bg5.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#main1 {
    display: flex;
    justify-content: center;
}

#main1 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 6em;
    font-family: 'Bebas Neue', sans-serif;

}

#main1 .text span {
    font-family: edition;
}

.contacto {
    display: flex;
    justify-content: space-around;
    font-family: 'Bebas Neue', sans-serif;
}

.contacto .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto {
    background-color: #f1f1f1;
    padding: 20px 0 20px 0;

}

.contacto h2 {
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contacto form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

}

.contacto form .user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.contacto form .user input {
    width: 100%;
    padding: 10px;
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
}

.contacto form .user input:focus {
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', sans-serif;
    outline: none;
    background-color: #ffffff00;
}

.contacto .title .info {
    font-size: 1.5em;
}

.contacto form .text {
    margin-bottom: 20px;
}

.contacto form .text label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
    
}

.contacto form .text textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    outline: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2em;
    
}


.contacto form input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}